<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% block stylesheets %}<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">{% endblock %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>

    <body>
        {% block menu %}
            <ul id="menu" style="z-index: 10 !important;">
                <li id="logo">Dragons</li>
                <li><a href="/accueil">Accueil</a></li>
                <li><a href="/recherche">Rechercher</a></li> <!-- TODO ajouter le lien vers la page -->
                <li><a href="/comabt">Combat</a></li> <!-- TODO ajouter le lien vers la page -->
                <li><a href="/admin">Se Connecter</a></li> <!-- TODO ajouter le lien vers la page -->

            </ul>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        {% block footer %}
            <div id="footer">
                <p>Copyright: Dragons 2019</p>
                <p>Contact: dugrossy.baptiste@gmail.com</p>
            </div>



        {% endblock %}
    </body>
</html>
